@import "tailwindcss";
/* @import "@nuxt/ui"; */
@import "primeicons/primeicons.css";

/* 
@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
} */


body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  font-size: small;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--p-surface-950);
}

::-webkit-scrollbar-thumb {
  background: var(--p-primary-400);
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  background: var(--p-surface-950);
}


/* ----------- */

.test * {
  border: 1px dotted #F00;
}

